* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  overflow-x: hidden;
}

body {
  font-family: sans-serif;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.header {
  height: 75px;
  width: 100%;
  background: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 14%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-right {
  width: 111px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-links {
  padding: 20px;
}

.top-wrapper {
  width: 100%;
}

.top {
  width: 100%;
  height: 764px;
  background: #F1E4E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(img/man-bck.png);
  background-repeat: no-repeat;
  background-position: 15%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 13%;
}

.top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 20%;
}

.top-restangle {
  background: #F16D7F;
  width: 12px;
  height: 92px;
  margin-right: 16px;
}

.top-heading {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.top-heading-span {
  color: #F16D7F;
}

.t-h-w {
  font-weight: 700;
}

.basket {
  display: inline-block;
  padding: 16px 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.null {
  position: absolute;
  right: 5px;
  top: 6px;
}

.null span {
  color: #f1f1f1;
  background-color: #F16D7F;
  padding: 5px 9px;
  font-size: 12px;
  border-radius: 200px;
}

.wrapper-basket {
  position: relative;
  display: inline-block;
}

.gallery-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.category-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  margin-top: 96px;
}

.category-gallery-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.category-box {
  position: relative;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 32%;
  padding-right: 3%;
}

.category-box:last-child {
  padding-right: 0;
}

.gallery-img {
  width: 100%;
}

.category-box:hover .gallery-img {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

.category-box:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 3;
}

.category-text {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.category-heading {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #F16D7F;
  position: absolute;
  top: 20px;
  width: 155px;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.category-box-bottom {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.category-box-bottom:hover .gallery-img {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

.category-box-bottom:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 3;
}

.items {
  padding-top: 96px;
  padding-bottom: 109px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.items__catalog {
  padding-top: 0;
}

.items-heading {
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.items-text {
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  margin-top: 6px;
  margin-bottom: 50px;
}

.card-heading {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 6px;
}

.price {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  margin-top: 18px;
}

.card-bottom {
  width: 316px;
  background: #F8F8F8;
  padding: 25px 28px 18px 16px;
  -webkit-box-sizing: unset;
          box-sizing: unset;
}

.card-bottom_product-page {
  width: unset;
}

.card-box-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1140px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 48px;
}

.card-box-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1140px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 30px;
}

.button {
  width: 211px;
  height: 47px;
  border: 1px solid #FF6A6A;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 63px;
  -webkit-transition: background 0.7s , border 0.7s;
  transition: background 0.7s , border 0.7s;
}

.button-items-text {
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  text-align: center;
  padding: 14px 0;
}

.card-hover {
  width: 360px;
  height: 420px;
  background: rgba(58, 56, 56, 0.86);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-hover__product-page {
  width: 100%;
  height: 100%;
}

.card-button {
  width: 138px;
  height: 43px;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card-button-text {
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.card-button-text:hover {
  color: #FFFFFF;
}

.card-hover {
  position: absolute;
  display: none;
}

.card {
  position: relative;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: none;
}

.card:hover .card-hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button:hover {
  background: #F16D7F;
  border: 1px solid #FF6A6A;
}

.button:hover .button-items-text {
  color: #FFFFFF;
}

.banner-wrap {
  height: 341px;
  background: #222224;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
}

.banner-heading {
  text-align: center;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  margin-top: 28px;
  margin-bottom: 16px;
}

.banner-text {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

.banner-img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.reviews {
  height: 448px;
  background-image: url(img/review-bck.png);
  background-repeat: no-repeat;
  background-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comments {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comm-text {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  width: 360px;
  margin-top: 30px;
}

.subscribe-text {
  font-size: 18px;
  font-weight: 200;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}

.subscribe-heading {
  font-weight: bold;
  font-size: 24px;
}

.subscribe-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 35px;
}

.subscribe-button-in {
  width: 256px;
  background: #E1E1E1;
  border-radius: 23px 0 0 23px;
  padding: 18px 28px;
  border: 1px solid transparent;
  border-right: none;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

.subscribe-submit {
  background: #E05C6E;
  border-radius: 0 23px 23px 0;
  padding: 18px 28px;
  border: 1px solid transparent;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.footer {
  width: 100%;
  height: 79px;
  background: #222224;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-ic-wrapper {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer-ic {
  width: 32px;
  height: 32px;
  background: #FFFFFF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000;
  -webkit-transition: background 0.7s, color 0.7s;
  transition: background 0.7s, color 0.7s;
}

.footer-text {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.footer-ic:hover {
  background: #F16D7F;
  color: #FFFFFF;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 148px;
  background: #F8F3F4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15%;
}

.section__breadcrumbs {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 0;
}

.section-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-heading {
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  font-weight: normal;
}

.section-nav-link {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  padding-right: 5px;
}

.section-nav-link:hover {
  color: #F16D7F;
}

.section-nav-link-action {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.section-nav-link-action:hover {
  color: #F16D7F;
}

.filtration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin: 50px 0  60px;
  position: relative;
  z-index: 3;
}

.filter-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter-action:hover .filter-open-menu {
  display: block;
}

.filter-heading {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-right: 11px;
}

.filter-open-menu {
  position: absolute;
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 330px;
  padding: 15px;
  display: none;
  top: -15px;
  left: -50px;
}

.filter-action {
  position: relative;
}

.filter-ic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter-menu-open-heading {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  font-weight: normal;
  padding: 10px;
}

.filter-open-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
  border-bottom: 1px solid #EBEBEB;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.filter-heading-open {
  color: #F16D7F;
}

.filtration-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.filter-menu-open-list {
  padding: 25px 0 15px 35px;
  display: none;
}

.filter-menu-restangle {
  padding-right: 10px;
}

.filter-links {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding-bottom: 10px;
  padding-left: 20px;
}

.filter-links:hover {
  color: #F16D7F;
}

.filter-links-top {
  margin-top: 15px;
}

.menu-chekbox {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  display: block;
  padding: 0 15px;
}

.menu-chekbox::after {
  background: url(img/arr-menu.png) center no-repeat;
  color: transparent;
  padding-left: 10px;
}

details > .menu-chekbox::after {
  content: '\25BC';
}

.box-menu {
  width: 127px;
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px black;
          box-shadow: 6px 4px 35px black;
  position: absolute;
  padding: 10px;
  top: 25px;
}

.box-menu-size {
  width: 52px;
}

.box-menu-price {
  width: 65px;
}

details[open] > .menu-chekbox {
  color: #F16D7F;
}

label {
  color: #6F6E6E;
  padding-left: 10px;
}

.chekbox-menu-inside {
  margin-bottom: 10px;
}

.item-catalog-box {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
}

.item-catalog-box-top, .item-catalog-box-middle, .item-catalog-box-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1140px;
  margin-bottom: 30px;
}

.catalog-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #EBEBEB;
  margin-bottom: 100px;
  width: 280px;
}

.catalog-nav__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.catalog-nav-button {
  padding: 12px 7px;
  color: #EBEBEB;
}

.catalog-nav-button:hover {
  color: #F16D7F;
}

.catalog-nav-dots {
  color: #EBEBEB;
}

.nav-arr-catlog {
  padding: 12px 20px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: rgba(42, 42, 42, 0.15);
  padding: 3px;
  font-size: 18px;
  color: black;
  position: absolute;
  background-image: none;
}

.fa-chevron-right, .fa-chevron-left {
  top: 3px;
  left: 1px;
  color: black;
  position: relative;
  top: 0px;
}

.carousel-control-next-icon:hover .fa-chevron-right, .carousel-control-prev-icon:hover .fa-chevron-left {
  color: #E05C6E;
}

.product-des {
  padding: 65px 17%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 1140px;
  top: -75px;
  background-color: white;
  border: 1px solid #EAEAEA;
}

.product-des-collection {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.product-collection-hr {
  width: 63px;
  height: 3px;
  background: #EF5B70;
  opacity: 100%;
}

.product-des-heading {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
}

.product-des-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  width: 555px;
  padding: 50px 0;
}

.product-des-price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  padding-bottom: 65px;
}

.product-des-hr {
  width: 641px;
  height: 1px;
  background: #EAEAEA;
  opacity: 100%;
}

.product-des-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 100px;
}

.box-menu-quantity {
  width: 108px;
}

.box-menu-size-product {
  width: 125px;
}

.box-menu-color {
  width: 138px;
}

.button-product-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.button-desc-text {
  padding-left: 20px;
}

.desc-shoppimg-list {
  color: #E05C6E;
}

.button-product-desc:hover .desc-shoppimg-list {
  color: #FFFFFF;
}

.card-bottom-product {
  width: 360px;
  background: #F8F8F8;
  padding: 25px 28px 20px 16px;
}

.product-item-text {
  padding: 12px 0 15px 0;
}

.card-product {
  border-radius: 0%;
  border: none;
}

.item-box-product-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2%;
}

.box-product-wrap {
  margin-bottom: 125px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  width: unset;
}

.shopping-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 120px 0 0;
}

.shopping-cart__product-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
          filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
  margin-bottom: 40px;
}

.shopping-cart__button-wrapper {
  width: 660px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shopping-cart__button {
  border: 1px solid #A4A4A4;
  background-color: #FFFFFF;
}

.shopping-cart__button:hover {
  border: 1px solid #FFFFFF;
  background-color: #F16D7F;
}

.shopping-cart__button-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #A4A4A4;
  text-align: center;
  padding: 14px 0;
}

.shopping-cart__button-text:hover {
  color: #FFFFFF;
}

.shopping-cart__shipping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 120px;
}

.shopping-cart__product-wrapper {
  margin-bottom: 100px;
}

.product-discription {
  padding: 20px 20px 60px 30px;
  width: 340px;
  height: 222px;
  background: #FFFFFF;
  padding-top: 22px;
  top: 0;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
}

.product-discription__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-discription__heading {
  width: 200px;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
}

.product-discription__information {
  margin-top: 40px;
}

.product-discription__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 6px;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.product-discription__param {
  margin-right: 5px;
}

.product-discription__value_price {
  color: #F16D7F;
}

.product-discription__value_quantity {
  padding: 1px 15px;
  margin-left: 25px;
  border: 1px solid #EAEAEA;
}

.fa-times {
  font-size: 20px;
  color: #575757;
}

.fa-times:hover {
  color: #F16D7F;
}

.shipping-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shipping-form__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #4A4A4A;
  margin-bottom: 20px;
}

.shipping-form__input {
  width: 340px;
  height: 45px;
  margin-bottom: 20px;
  padding-left: 20px;
}

.shipping-form__button {
  width: 100px;
  height: 35px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #A4A4A4;
  border: 1px solid #A4A4A4;
  background-color: #FFFFFF;
}

.shipping-form__button:hover {
  color: #F16D7F;
  background-color: #FFFFFF;
  border: solid #F16D7F 1px;
}

.checkout-form {
  padding: 40px 45px;
  background: #F5F3F3;
  margin-top: 60px;
}

.checkout-form__sub-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.checkout-form__grand-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 12px;
  margin-bottom: 20px;
}

.checkout-form__sub-total_price {
  margin-left: 20px;
}

.checkout-form__grand-total_price {
  margin-left: 20px;
  color: #F16D7F;
}

.checkout-form__button {
  padding: 15px 42px;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background: #F16D7F;
  border: solid #F16D7F 1px;
  margin-top: 17px;
}

.checkout-form__button:hover {
  color: #F16D7F;
  background: #FFFFFF;
  border: solid #F16D7F 1px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header-menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  width: 180px;
  z-index: 5;
  top: 75px;
  right: 0;
  background: #FFFFFF;
  height: 730px;
  -webkit-box-shadow: 1px 2px 33px grey;
          box-shadow: 1px 2px 33px grey;
  padding: 16px 16px 16px 33px;
}

.header-menu__cross {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.header-menu__heading {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.header-menu__links-heading {
  line-height: 17px;
  color: #F16D7F;
  font-weight: normal;
  padding-top: 20px;
}

.header-menu__links {
  font-weight: normal;
  line-height: 17px;
  color: #6F6E6E;
  padding-top: 10px;
  padding-left: 10px;
}

.header-menu__links:hover {
  color: #F16D7F;
}

.header-links-menu:hover .header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 17px;
}

.card-box-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.registration__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2%;
}

.registration__text {
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  padding-bottom: 22px;
  font-weight: 300;
}

.registration__text-hover {
  padding-bottom: 16px;
}

.registration__text-hover:hover {
  color: #F16D7F;
}

.registration__text-box {
  max-width: 650px;
  padding: 34px 0 96px 4%;
}

.fa-check-registration {
  padding-right: 22px;
}

.registration__form {
  padding: 34px 4% 96px 0;
}

.registration__form_input {
  width: 360px;
  height: 44px;
  border: 1px solid #A4A4A4;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-top: 20px;
  padding-left: 15px;
}

.registration__form_heading {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.registration__form_checkbox {
  padding: 34px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 132px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 11px;
  line-height: 13px;
  color: #A4A4A4;
}

.registration__form_discription {
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  max-width: 360px;
  padding-top: 15px;
}

.registration__form_button {
  background: #F16D7F;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 167px;
}

.registration__form_button:hover {
  background: #FFFFFF;
  color: #F16D7F;
}

.card-product {
  width: auto;
}

@media (max-width: 576px) {
  .top-heading {
    font-size: 24px;
    line-height: 35px;
  }
  .basket {
    display: none;
  }
  .header-links-acc {
    display: none;
  }
  .header {
    padding: 0;
  }
  .top {
    height: 360px;
  }
  .category-gallery {
    margin-top: 32px;
  }
  .category-gallery-top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .category-box {
    width: 100%;
    margin-top: 32px;
    padding-right: 0;
  }
  .card-box {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .items {
    padding-top: 64px;
    padding-bottom: 40px;
  }
  .banner-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 610px;
  }
  .top {
    background-image: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .comm-text {
    font-size: 14px;
    width: 200px;
  }
  .comments {
    width: 90%;
  }
  .subscribe {
    width: 80%;
  }
  .subscribe-text {
    font-size: 10px;
  }
  .footer-text {
    font-size: 10px;
  }
  .box-product-wrap {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .shopping-cart__shipping {
    margin: 0 0 100px;
  }
  .shopping-cart__button {
    margin-right: 10px;
    width: 155px;
    height: 37px;
  }
  .shopping-cart__button-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
  .registration__box {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .registration__form {
    padding: 34px 0 0px;
  }
  .registration__form_input {
    width: 250px;
  }
  .subscribe-button-in {
    width: 110px;
  }
  .registration__text {
    font-size: 17px;
  }
  .registration__text-box {
    padding: 15px 4% 15px;
    width: 300px;
  }
  .shopping-cart__button-text {
    padding: 10px 0;
    font-size: 12px;
  }
  .shipping-form__input {
    width: 280px;
  }
  .checkout-form {
    padding: 30px 15px;
  }
  .shopping-cart__shipping {
    margin: 0 0 40px;
  }
  .product-des-wrap {
    margin-bottom: 60px;
  }
  .product-des {
    width: 100%;
  }
  .product-des-collection {
    font-size: 11px;
  }
  .product-collection-hr {
    width: 63px;
  }
  .product-des-heading {
    font-size: 14px;
  }
  .product-des-text {
    font-size: 10px;
    width: 235px;
    padding: 15px 0;
  }
  .product-des-price {
    font-size: 14px;
    padding-bottom: 0px;
  }
  .product-des-hr {
    width: 250px;
  }
  .menu-chekbox {
    padding: 0;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .top {
    height: 360px;
    background-image: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .top-heading {
    font-size: 38px;
  }
  .category-gallery {
    margin-top: 20px;
  }
  .card-box {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .box-product-wrap {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .shopping-cart__button-wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0 auto;
    width: unset;
  }
  .shopping-cart__shipping {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 2% 140px;
    padding: 2%;
  }
  .shipping-form {
    margin-right: 15px;
  }
  .checkout-form {
    margin-top: 0;
  }
  .registration__text-box {
    padding: 34px 4% 96px;
  }
}

@media (max-width: 900px) {
  .reviews {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .filter-heading {
    display: none;
  }
  .filtration {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 26px 0 40px;
  }
  .filter-open-menu {
    left: 0;
  }
  .section {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .product-des {
    top: 0;
  }
  .registration__box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 1200px) {
  .card-product_last-child {
    display: none;
  }
  .shopping-cart {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .shopping-cart__shipping {
    margin: 0 0 100px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .top {
    background-image: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .top-content {
    padding: unset;
  }
  .card-box {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .banner-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 610px;
  }
}

@media (max-width: 1600px) {
  .top-content {
    padding-right: 4%;
  }
  .reviews {
    background-size: unset;
  }
}

@media (min-width: 1400px) {
  .category-gallery {
    width: 1140px;
  }
}
/*# sourceMappingURL=style.css.map */